<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Calculadora de Descuentos del Almacén</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="form">
        <mat-form-field>
          <mat-label>Precio Unitario</mat-label>
          <input matInput type="number" [(ngModel)]="precioUnitario" placeholder="Ingrese el precio unitario">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cantidad Adquirida</mat-label>
          <input matInput type="number" [(ngModel)]="cantidad" placeholder="Ingrese la cantidad adquirida">
        </mat-form-field>
      </div>
      <div *ngIf="total !== null">
        <p><strong>Total a pagar (con descuento aplicado):</strong> {{ total | currency:"S/. " }}</p>
      </div>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="calcularTotal()">Calcular</button>
    </mat-card-actions>
  </mat-card>
  